<h1>All Users</h1>

<div id="users">
  <table  class="table table-bordered table-hover table-striped">
    <thead class="thead-light ">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Adress</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
      <tbody>
          <% @users.each do |user| %>
          <%= render user %>
          <% end %>
      </tbody>
  </table>
  <%= link_to "New user", new_user_path, class:"btn btn-primary" %>
  
</div>


